#!/bin/bash

export OS_USER_DOMAIN_NAME="DOMAIN"
export OS_PROJECT_NAME="PROJECT"
export TMUX="true"
export KEEPASS_TYPE=perso
export VIRTUAL_ENV=/home/user/.local/share/virtualenvs/prompt-ABCDEF
export KUBE_CONTEXT=cluster:namespace
export VCSH_REPO_NAME=prompt

echo -e "${E_INFO}----------------------------------------------${E_NORMAL}"
echo -e "${E_INFO}${E_BOLD}|   Press <Enter> once to see all segments   |${E_NORMAL}"
echo -e "${E_INFO}----------------------------------------------${E_NORMAL}"

# *****************************************************************************
# EDITOR CONFIG
# vim: ft=sh: ts=2: sw=2: sts=2
# *****************************************************************************
