#!/bin/bash

export OS_USER_DOMAIN_NAME="DOMAIN"
export OS_PROJECT_NAME="PROJECT"
export TMUX="true"
export KEEPASS_TYPE=perso
export VIRTUAL_ENV=/home/user/.local/share/virtualenvs/prompt-ABCDEF
export KUBE_CONTEXT=cluster:namespace
export VCSH_REPO_NAME=prompt

# *****************************************************************************
# EDITOR CONFIG
# vim: ft=sh: ts=2: sw=2: sts=2
# *****************************************************************************
