#!/bin/${SHELL}

layout_pipenv
export DEBUG_MODE=true 
export OS_USER_DOMAIN_NAME="DOMAIN"
export OS_PROJECT_NAME="PROJECT"
export TMUX="true"
export KEEPASS_TYPE=perso
#export KEEPASS_FILE="/media/secure_usb/security/keepass/keyfile.gpg"
#export KEEPASS_DB="/home/rdeville/perso/cloud_wolkli/perso_f.kdbx"

reload(){
  case ${SHELL} in 
    bash)
      ${SHELL} -c "source ~/.bashrc"
      ;;
    zsh)
      ${SHELL} -c "source ~/.zshrc"
      ;;
    *)
      return
      ;;
  esac
}

# For export function in direnv, see: 
# https://github.com/direnv/direnv/issues/73
export_function reload

# *****************************************************************************
# EDITOR CONFIG
# vim: ft=sh: ts=2: sw=2: sts=2
# *****************************************************************************
